@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Montserrat:wght@400;700&&family=Roboto:wght@100;700&display=swap');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
*/


.remove-btn {
    margin-right: 0.5rem;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}


/* OVERWRITING BOOTSTRAP */
/* container */
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 850px;
    }
}

/* navigation */
.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 28px;
}

span {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 28px;
}

nav {
    background-color: #F48FB1;
}

/* text */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #68696A;
    margin: 1rem 0 2rem 0;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #68696A;
}

.loading {
    text-align: center;
    font-size: 30px;
    color: #F48FB1;
}

.vote-number {
    font-family: 'Open Sans', sans-serif;
    font-size: 55px;
    color: #F48FB1;
    margin: 0;
    line-height: 1;
    padding-bottom: 5px;
}

/* borders */
.list-group-item {
    position: relative;
    display: block;
    padding: 15px 0 5px 0;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgba(248, 187, 208, 1);
    margin-bottom: 15px;
}

/* links */
.list-group-item a {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #68696A;
    cursor: pointer;
}

.back {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #68696A;
}

.back:hover, back:focus {
    color: #F48FB1;
}

/* button */
.btn {
    background-color: #F48FB1;
    border-color: #F48FB1;
    color: white;
}

.btn:hover, .btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show>.btn-dark.dropdown-toggle, .btn-dark.focus, .btn-dark:focus, .btn-secondary:focus {
    background-color: #f06292;
    border-color: #f06292;
    color:white;
}